@mixin node-color {
    &.theme-default,
    &.theme-soft {
        .plait-richtext-container {
            color: #333333;
        }
    }

    &.theme-colorful,
    &.theme-retro {
        .root {
            .plait-richtext-container {
                color: #ffffff;
            }
        }
    }

    &.theme-dark,
    &.theme-starry {
        .plait-richtext-container {
            color: #ffffff;
        }
        .root {
            .plait-richtext-container {
                color: #333333;
            }
        }
    }
}
