$primary: #4e8afa;

g[plait-mindmap='true'] {
    .plait-richtext-container {
        cursor: default;
        min-width: 5px;
        &[readonly='false'] {
            cursor: text;
            max-width: 34em;
        }
    }

    .extend {
        opacity: 0;
        cursor: default;
    }

    .collapsed {
        .extend {
            opacity: 1;
        }
    }

    .dragging-origin,
    .dragging-child {
        opacity: 0.6;
    }

    .node-emojis-container {
        display: flex;
        position: initial;
        align-items: center;
        height: 100%;
        .mind-node-emoji:not(:last-child) {
            margin-right: 4px;
        }
        ::-moz-selection {
            /* Code for Firefox */
            background: none;
        }
        ::selection {
            background: none;
        }
    }
}

.plait-board-container {
    &.focused:not(.selection-moving):not(.element-moving):not(.abstract-resizing-horizontal):not(.abstract-resizing-vertical) {
        .extend {
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }

        g[plait-mindmap='true'] {
            .hovered {
                .extend {
                    opacity: 1;
                }
            }
        }
    }

    &.hand {
        svg {
            cursor: grab;
        }
        .zoom-toolbar {
            svg {
                cursor: pointer;
            }
        }
        .collapsed {
            .extend:hover {
                cursor: grab;
            }
        }
        :not(.collapsed) > .extend {
            display: none;
        }
    }

    &.readonly {
        .collapsed {
            .extend:hover {
                cursor: pointer;
            }
        }
        :not(.collapsed) > .extend {
            display: block;
            .quick-insert {
                display: none;
            }
        }
    }

    &.viewport-moving {
        svg {
            cursor: grabbing;
        }
    }

    &.abstract-resizing-horizontal {
        cursor: ns-resize;
    }

    &.abstract-resizing-vertical {
        cursor: ew-resize;
    }
}

.fake-node {
    .dragging {
        cursor: pointer;
        opacity: 0.6;
    }
}
