<div class="property-item abstract-setting-toolbar">
    <button (click)="setAbstract($event)">设置概要</button>
</div>

<div class="property-item shape-setting-toolbar">
    <div class="setting-panel-title">节点形状：</div>
    <select (change)="propertyChange($event, 'shape')">
        <option value="round-rectangle">round-rectangle</option>
        <option value="underline">underline</option>
    </select>
</div>

<div class="property-item layout-setting-toolbar">
    <div class="setting-panel-title">布局类型：</div>
    <select (change)="layoutChange($event)">
        <option value="right">right</option>
        <option value="left">left</option>
        <option value="standard" selected>standard</option>
        <option value="upward">upward</option>
        <option value="downward">downward</option>
        <option value="right-bottom-indented">right-bottom-indented</option>
        <option value="right-top-indented">right-top-indented</option>
        <option value="left-bottom-indented">left-bottom-indented</option>
        <option value="left-top-indented">left-top-indented</option>
    </select>
</div>

<div class="property-item edge-shape-setting-toolbar">
    <div class="setting-panel-title">分支形状：</div>
    <select (change)="propertyChange($event, 'branchShape')">
        <option value="bight">bight</option>
        <option value="polyline">polyline</option>
    </select>
</div>

<div class="property-item width-setting-toolbar">
    <div class="setting-panel-title">分支宽度：</div>
    <select (change)="propertyChange($event, 'branchWidth')">
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="5">5</option>
    </select>
</div>

<div class="property-item width-setting-toolbar">
    <div class="setting-panel-title">边框宽度：</div>
    <select (change)="propertyChange($event, 'strokeWidth')">
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="5">5</option>
    </select>
</div>

<div class="property-item color-setting-toolbar">
    <div class="setting-panel-title">填充颜色：</div>
    <app-color-picker
        [defaultColor]="fillColor"
        [currentColor]="currentFillColor"
        (colorChangeEvent)="colorChange($event, 'fill')"
    ></app-color-picker>
</div>

<div class="property-item color-setting-toolbar">
    <div class="setting-panel-title">边框颜色：</div>
    <app-color-picker
        [defaultColor]="strokeColor"
        [currentColor]="currentStrokeColor"
        (colorChangeEvent)="colorChange($event, 'strokeColor')"
    ></app-color-picker>
</div>

<div class="property-item color-setting-toolbar">
    <div class="setting-panel-title">分支颜色：</div>
    <app-color-picker
        [defaultColor]="branchColor"
        [currentColor]="currentBranchColor"
        (colorChangeEvent)="colorChange($event, 'branchColor')"
    ></app-color-picker>
</div>
