.plait-board-container {
    display: block;
    width: 100%;
    height: 100%;
    // https://stackoverflow.com/questions/51313873/svg-foreignobject-not-working-properly-on-safari
    .plait-richtext-container {
        position: initial;
    }
}