$primary: #4e8afa;

g[plait-mindmap="true"] {
    .plait-richtext-container {
        cursor: default;
        display: inline-block;
        min-width: 5px;
        min-height: 24px;
        &[readonly=false] {
            cursor: text;
        }
    }
}
