.plait-board-container {
    &.pointer-text {
        .board-host-svg {
            cursor: default;
        }
    }
    &:not(.pointer-text):not(.pointer-selection):not(.pointer-hand)
     {
        .board-host-svg {
            cursor: crosshair;
        }
    }
    &.draw-line-resizing .element-active-host .line-handle {
        display: none;
    }
}
