@use './theme.scss';

.plait-board-container {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .viewport-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    svg {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    // https://stackoverflow.com/questions/51313873/svg-foreignobject-not-working-properly-on-safari
    .plait-richtext-container {
        // chrome show position is not correct, safari not working when don't assigned position property
        // can not assign absolute, because safari can not show correctly position 
        position: initial;
        &[readonly='true'] {
            ::selection {
                background: none;
            }
        }
    }

    .plait-toolbar {
        position: absolute;
        display: flex;
        height: 30px;
        z-index: 100;
    }

    .island {
        --padding: 1;
        background-color: var(--iscard-bg-color);
        box-shadow: var(--shadow-iscard);
        border-radius: var(--border-radius-sm);
        padding: calc(var(--padding) * var(--space-factor));
        transition: box-shadow 0.5s ease-in-out;
        box-shadow: 0 0 16px #00000014;
        border: 1px solid #eee;
    }

    &.focused {
        .viewport-container {
            overflow: auto;
        }
    }
    &.element-moving {
        .selection-outer {
            opacity: 0;
        }
    }
}

.zoom-toolbar {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;

    .zoom-value {
        user-select: none;
        width: 54px;
        height: 20px;
        padding: 0 8px;
        font-size: 14px;
        cursor: pointer;
        color: #666;
        font-weight: 400;
        border-radius: 4px;
        text-align: center;
    }

    .divider {
        height: 16px;
        border-left: 1px solid #ddd;
        margin-left: 4px;
        margin-right: 8px;
    }
    .toolbar-item {
        margin-right: 4px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.plait-action-icon {
    color: #999;
    padding: 8px;
    background-repeat: no-repeat;
    fill: currentColor;
    font-size: 16px;
    line-height: 0;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    svg {
        background-repeat: no-repeat;
        /* 通过设置 font-size 来改变图标大小 */
        width: 1em;
        height: 1em;
        /* 通过设置 color 来改变 SVG 的颜色/fill */
        fill: currentColor;
        /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示 normalize.css 中也包含这行 */
        overflow: hidden;
        transition: transform 200ms;
    }
}
.icon-active,
.plait-action-icon:hover {
    color: rgb(102, 152, 255);
    background: rgba(102, 152, 255, 0.1);
}
