<div class="sidebar">
    <div class="menu">
        <div class="menu-item overview" (click)="selectChange('default')" [ngClass]="{ active: activeKey === 'default' }">Overview</div>
    </div>

    <div *ngFor="let menu of menus" class="menu">
        <h3 class="title">{{ menu.name }}</h3>
        <div
            *ngFor="let item of menu.children"
            class="menu-item"
            (click)="selectChange(item.key)"
            [ngClass]="{ active: activeKey === item.key }"
        >
            <span>{{ item.name }}</span>
        </div>
    </div>
</div>
<plait-board
    class="content"
    [plaitPlugins]="plugins"
    [plaitValue]="value"
    [plaitViewport]="viewport"
    [plaitOptions]="options"
    (plaitBoardInitialized)="plaitBoardInitialized($event)"
    (onChange)="change($event)"
>
</plait-board>
