<div class="sidebar">
    <div class="menu">
        <div class="menu-item overview" (click)="selectChange('default')" [ngClass]="{ active: activeKey === 'default' }">Overview</div>
    </div>

    @for (menu of menus; track $index) {
    <div class="menu">
        <h3 class="title">{{ menu.name }}</h3>
        @for (item of menu.children; track $index) {
        <div class="menu-item" (click)="selectChange(item.key)" [ngClass]="{ active: activeKey === item.key }">
            <span>{{ item.name }}</span>
        </div>
        }
    </div>
    }
</div>
<plait-board
    class="content"
    [plaitPlugins]="plugins"
    [plaitValue]="value"
    [plaitViewport]="viewport"
    [plaitOptions]="options"
    (initialized)="initialized($event)"
    (change)="change($event)"
>
</plait-board>
