$primary: #4e8afa;

g[plait-mindmap='true'] {
    .plait-richtext-container {
        cursor: default;
        display: inline-block;
        min-width: 5px;
        position: absolute;
        &[readonly='false'] {
            cursor: text;
        }
        &.root-node {
            font-size: 18px;
        }
    }

    .extend {
        opacity: 0;
        cursor: default;
    }

    .collapsed,
    .hovered {
        .extend {
            opacity: 1;
        }
    }

    .dragging-origin,
    .dragging-child {
        opacity: 0.6;
    }
}
.plait-board-container.focused {
    .extend {
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}
.plait-board-container.hand {
    svg {
        cursor: grab;
    }
    .zoom-toolbar {
        svg {
            cursor: pointer;
        }
    }
    .collapsed {
        .extend:hover {
            cursor: grab;
        }
    }
    :not(.collapsed) > .extend {
        display: none;
    }
}
.plait-board-container.readonly {
    .collapsed {
        .extend:hover {
            cursor: pointer;
        }
    }
    :not(.collapsed) > .extend {
        display: block;
        .quick-insert {
            display: none;
        }
    }
}
.plait-board-container.moving {
    svg {
        cursor: grabbing;
    }
}

.fake-node {
    .dragging {
        cursor: pointer;
        opacity: 0.6;
    }
}
