$primary: #4e8afa;

g[plait-mindmap='true'] {
    .plait-richtext-container {
        cursor: default;
        min-width: 5px;
        &[readonly='false'] {
            cursor: text;
        }
    }

    .extend {
        opacity: 0;
        cursor: default;
    }

    .collapsed {
        .extend {
            opacity: 1;
        }
    }

    .dragging-origin,
    .dragging-child {
        opacity: 0.6;
    }

    .node-emojis-container {
        display: flex;
        ::-moz-selection {
            /* Code for Firefox */
            background: none;
        }
        ::selection {
            background: none;
        }
    }
}
.plait-board-container.focused:not(.selection-moving):not(.element-moving) {
    .extend {
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }

    g[plait-mindmap='true'] {
        .hovered {
            .extend {
                opacity: 1;
            }
        }
    }
}

.plait-board-container.hand {
    svg {
        cursor: grab;
    }
    .zoom-toolbar {
        svg {
            cursor: pointer;
        }
    }
    .collapsed {
        .extend:hover {
            cursor: grab;
        }
    }
    :not(.collapsed) > .extend {
        display: none;
    }
}
.plait-board-container.readonly {
    .collapsed {
        .extend:hover {
            cursor: pointer;
        }
    }
    :not(.collapsed) > .extend {
        display: block;
        .quick-insert {
            display: none;
        }
    }
}
.plait-board-container.viewport-moving {
    svg {
        cursor: grabbing;
    }
}

.fake-node {
    .dragging {
        cursor: pointer;
        opacity: 0.6;
    }
}
