$primary: #4e8afa;

g[plait-mindmap="true"] {
    .plait-richtext-container {
        cursor: default;
        display: inline-block;
        min-width: 5px;
        min-height: 24px;
        &[readonly=false] {
            cursor: text;
        }
        &.root-node {
            font-size: 18px;
        }
    }

    .extend {
        opacity: 0;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .collapsed,
    .hovered {
        .extend {
            opacity: 1;
        }
    }

    .dragging-origin, .dragging-child {
        opacity: 0.6;
    }
}

.fake-node {
    .dragging {
        cursor: pointer;
        opacity: 0.6;
    }
}