@forward '../plugins/link/link.component.scss';

.plait-richtext-container {
    font-size: 14px;
    min-height: 20px;
    line-height: 20px;
    display: block;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-break: break-all;

    .slate-editable-container {
        outline: none;
        padding: 0;
        cursor: default;
        .plait-text-paragraph {
            user-select: none;
        }
        &.editing {
            cursor: text;
            .plait-text-paragraph {
                user-select: text;
            }
        }
    }

    [the-underlined][the-strike] {
        text-decoration: underline line-through;
    }

    [the-strike] {
        text-decoration: line-through;
    }

    [the-underlined] {
        text-decoration: underline;
    }

    [the-italic] {
        font-style: italic;
    }

    [the-bold] {
        font-weight: bold;
    }
    @each $size, $liMl,
        $liMultiDigitMl in (12, 13, 14, 15, 16, 18, 20, (24 null 35px), (28 null 42px), (32 33px 50px), (40 40px 62px), (48 50px 78px))
    {
        [plait-font-size='#{$size}'] {
            font-size: #{$size}px;
            line-height: 1.5;
        }
    }
}
