.workflow-element {
    &-port {
        opacity: 0;
        cursor: crosshair;
    }
    &-richtext {
        text-align: center;
    }
    &-text {
        height: 100%;
        display: inline-flex;
        align-items: center;
    }
    cursor: auto;
    &.active {
        // cursor: all-scroll;
    }
    .active-port {
        cursor: crosshair;
    }
}
.workflow-transition-text {
    text-align: center;
    background: pink;
}


