.demo-plait-text-container {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

    .plait-richtext-container {
        padding: 8px;
        border: 1px solid gray;
        border-radius: 3px;
    }
}