.plait-board-container {
    .flow-node-richtext,
    .flow-edge-richtext {
        .plait-text-container,
        .flow-edge-label-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
            width: 100%;
        }
    }
    .flow-handle {
        cursor: crosshair;
    }

    .flow-edge-richtext div {
        font-size: 12px;
        color: #666;
    }
    .flow-node-richtext span {
        color: #fff;
    }
}
