<plait-board
    [plaitPlugins]="plugins"
    [plaitValue]="value"
    [plaitViewport]="viewport"
    [plaitTheme]="theme"
    [plaitOptions]="options"
    (onChange)="onChange($event)"
    (plaitBoardInitialized)="afterBoardInitialized($event)"
>
    <app-zoom-toolbar></app-zoom-toolbar>
</plait-board>
<div style="position: absolute;z-index: 9999;left: 0;top: 0;">
    <button (click)="fetchForceAtlasData(0)">数据1</button>
    <button (click)="fetchForceAtlasData(1)">数据2</button>
    <button (click)="fetchForceAtlasData(2)">数据3</button>
    <button (click)="fetchForceAtlasData(3)">数据4</button>
    <button (click)="fetchForceAtlasData(4)">数据5</button>
    <button (click)="fetchForceAtlasData(5)">数据6</button>
    <button (click)="fetchForceAtlasData(6)">数据7</button>
    <button (click)="fetchForceAtlasData(7)">数据8</button>
    <button (click)="fetchForceAtlasData(8)">数据9</button>
    <button (click)="fetchForceAtlasData(9)">数据10</button>
</div>
<!-- @if (board) {
    <debug-point-display [board]="board"></debug-point-display>
} -->
