<plait-board [plaitPlugins]="plugins" [plaitValue]="value" [plaitViewport]="viewport" [plaitTheme]="theme"
    [plaitOptions]="options" (plaitBoardInitialized)="plaitBoardInitialized($event)" (onChange)="change($event)">
    <div class="plait-toolbar island plait-board-attached theme-setting-toolbar">
        <select (change)="themeChange($event)">
            <option value="default">默认</option>
            <option value="colorful">缤纷</option>
            <option value="soft">柔和</option>
            <option value="retro">复古</option>
            <option value="dark">暗夜</option>
            <option value="starry">星空</option>
        </select>
    </div>
    <app-zoom-toolbar></app-zoom-toolbar>
    <app-main-toolbar></app-main-toolbar>
    <app-setting-panel></app-setting-panel>
    <app-menu></app-menu>
</plait-board>

<div #contextMenu class="context-menu">
    <div class="context-menu-item" (pointerup)="cut($event)">
        <span>剪切</span>
        <span class="shortcut">{{ CONTROL_KEY + ' + X' }}</span>
    </div>
    <div class="context-menu-item" (pointerup)="copy($event)">
        <span>拷贝</span>
        <span class="shortcut">{{ CONTROL_KEY + ' + C' }}</span>
    </div>
    <div class="context-menu-item" (pointerup)="paste($event)" *ngIf="showPaste">
        <span>粘贴</span>
        <span class="shortcut">{{ CONTROL_KEY + ' + V' }}</span>
    </div>
    <hr />
    <div class="context-menu-item" *ngIf="showAddGroup" (pointerup)="addGroup($event)">
        <span>成组</span>
        <span class="shortcut">{{ CONTROL_KEY + ' + G' }}</span>
    </div>
    <div class="context-menu-item" *ngIf="showRemoveGroup" (pointerup)="removeGroup($event)">
        <span>取消成组</span>
        <span class="shortcut">{{ CONTROL_KEY + '+ Shift + G' }}</span>
    </div>
    <hr *ngIf="showAddGroup || showRemoveGroup" />
    <div class="context-menu-item" (pointerup)="duplicate($event)">
        <span>复制</span>
        <span class="shortcut">{{ CONTROL_KEY + ' + D' }}</span>
    </div>
</div>