<plait-board [plaitPlugins]="plugins" [plaitValue]="value" [plaitViewport]="viewport" [plaitTheme]="theme"
    [plaitOptions]="options" (plaitBoardInitialized)="plaitBoardInitialized($event)" (plaitChange)="change($event)">
    <div class="plait-toolbar island plait-board-attached theme-setting-toolbar">
        <select (change)="themeChange($event)">
            <option value="default">默认</option>
            <option value="colorful">缤纷</option>
            <option value="soft">柔和</option>
            <option value="retro">复古</option>
            <option value="dark">暗夜</option>
            <option value="starry">星空</option>
        </select>
    </div>
    <app-zoom-toolbar></app-zoom-toolbar>
    <app-main-toolbar></app-main-toolbar>
    <app-setting-panel></app-setting-panel>
    <app-menu></app-menu>
</plait-board>

<div #contextMenu class="context-menu">
    <div class="context-menu-item" *ngIf="showAddGroup" (pointerup)="addGroup($event)">成组</div>
    <div class="context-menu-item" *ngIf="isSelectGroup" (pointerup)="removeGroup($event)">取消成组</div>
    <div class="context-menu-item" (pointerup)="copy($event)">复制</div>
    <div class="context-menu-item" (pointerup)="cut($event)">剪切</div>
    <div class="context-menu-item" (pointerup)="paste($event)" *ngIf="showPaste">粘贴</div>
</div>