.plait-richtext-container {
    display: block;
    position: relative;
    outline: none;
    white-space: pre-wrap;
    font-size: 14px;

    [slate-underlined][slate-strike] {
        text-decoration: underline line-through;
    }

    [slate-strike] {
        text-decoration: line-through;
    }

    [slate-underlined] {
        text-decoration: underline;
    }

    [slate-italic] {
        font-style: italic;
    }

    [slate-bold] {
        font-weight: bold;
    }
    
    [node-type="link"] {
        a {
            color: #6698ff;
        }
    }

    [break-node="left"], [break-node="right"] {
        font-size: 0;
        line-height: 0;
    }
}