@import '../../packages/richtext/src/styles/styles.scss';
@import '../../packages/mind/src/styles/styles.scss';
@import '../../packages/plait/src/styles/styles.scss';
@import './richtext/richtext.component.scss';
@import '../../packages/flow/src/styles/styles.scss';

.layout-setting-toolbar {
    bottom: 30px;
    right: 40px;
    width: 120px;
    select {
        width: 100%;
    }
}

.shape-setting-toolbar {
    bottom: 30px;
    right: 200px;
    width: 120px;
    select {
        width: 100%;
    }
}

.flow-custom-node {
    color: #fff;
    .plait-richtext-container{
        font-size: 10px;
    }
}

.abstract-setting-toolbar{
    bottom: 30px;
    right: 360px;
    select {
        width: 100%;
    }
}