@import 'slate-angular/styles/index.scss';
@import '../../packages/angular-text/src/styles/styles.scss';
@import '../../packages/mind/src/styles/styles.scss';
@import '../../packages/angular-board/src/styles/styles.scss';
@import '../../packages/draw/src/styles/styles.scss';
@import './richtext/richtext.component.scss';
@import '../../packages/flow/src/styles/styles.scss';
@import './theme.scss';
@import './components//styles/panel.scss';
@import './components/styles/toolbar.scss';
@import './components/styles/menu.scss';
@import './flow/flow.component.scss';

.theme-setting-toolbar {
    bottom: 30px;
    right: 34px;
    width: 120px;
    select {
        width: 100%;
        padding-left: 4px;
        padding-right: 4px;
        height: 24px;
    }
}

app-basic-editor {
    a {
        font-weight: 500;
        text-decoration: none;
        color: var(--link-color);
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 220px;
    padding: 8px 0;
    hr {
        border: none;
        background-color: #eee;
        height: 1px;
    }
    .context-menu-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 9px 20px;
        position: relative;
        color: #333;
        cursor: pointer;
        text-decoration: none;
        transition: background 0.2s;
        justify-content: space-between;
        font-size: 14px;
        &:hover {
            background-color: #f0f0f0;
        }

        .shortcut {
            color: #aaa;
            font-size: 12px;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}
