<plait-board
    [plaitPlugins]="plugins"
    [plaitValue]="value"
    [plaitViewport]="viewport"
    [plaitReadonly]="readonly"
    [plaitFullscreen]="fullscreen"
    (plaitBoardInitialized)="plaitBoardInitialized($event)"
    (plaitChange)="change($event)"
>
    <div class="plait-toolbar island layout-toolbar plait-board-attached">
        <select (change)="layoutChange($event)">
            <option value="right">right</option>
            <option value="left">left</option>
            <option value="standard" selected>standard</option>
            <option value="upward">upward</option>
            <option value="downward">downward</option>
            <option value="right-bottom-indented">right-bottom-indented</option>
            <option value="right-top-indented">right-top-indented</option>
            <option value="left-bottom-indented">left-bottom-indented</option>
            <option value="left-top-indented">left-top-indented</option>
        </select>
    </div>
</plait-board>
