<plait-board
    [plaitPlugins]="plugins"
    [plaitValue]="value"
    [plaitViewport]="viewport"
    (plaitBoardInitialized)="plaitBoardInitialized($event)"
    (plaitChange)="change($event)"
>
    <div class="plait-toolbar island layout-toolbar plait-board-attached">
        <select (change)="layoutChange($event)">
            <option value="right">right</option>
            <option value="left">left</option>
            <option value="standard" selected>standard</option>
            <option value="downward">downward</option>
            <option value="indented">indented</option>
        </select>
    </div>
</plait-board>
