.plait-richtext-container {
    display: block;
    position: relative;
    outline: none;
    white-space: pre-wrap;

    [slate-underlined][slate-strike] {
        text-decoration: underline line-through;
    }
    [slate-strike] {
        text-decoration: line-through;
    }
    [slate-underlined] {
        text-decoration: underline;
    }
    [slate-italic] {
        font-style: italic;
    }
    [slate-bold] {
        font-weight: bold;
    }
    // [slate-inline-code] {
    //     margin: 0 4px;
    //     padding: 2px 3px;
    //     border: 1px solid rgba($color: #000000, $alpha: 0.08);
    //     border-radius: 2px;
    //     background-color: rgba($color: #000000, $alpha: 0.06);
    // }
}