.plait-island-container {
    &.app-setting-panel {
        overflow: auto;
        left: 24px;
        top: 100px;
        max-height: calc(100vh - 200px);
        flex-direction: column;
        align-items: start;
        padding: 16px;
        display: none;

        &.visible {
            display: flex;
        }

        .property-item {
            font-size: 14px;
            select {
                padding-left: 4px;
                padding-right: 4px;
                height: 24px;
            }
        }

        .setting-panel-title {
            margin: 8px 0px;
        }

        .color-setting-toolbar {
            display: block;
            width: 100%;
        }

        .app-color-picker {
            display: flex;
            justify-content: space-between;
        }

        .color-picker-button {
            cursor: pointer;
            margin-right: 4px;
            width: 24px;
            height: 24px;
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            position: relative;

            &.active .active-button-outline {
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                box-shadow: 0 0 0 1px #4a47b1;
                z-index: 1;
                border-radius: 5px;
            }
            &:hover::after {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                box-shadow: 0 0 0 1px #d6d6d6;
                border-radius: 5px;
            }
        }

        .text-setting-toolbar {
            width: 100%;
            .text-setting-items {
                display: flex;
                width: 100%;
                label {
                    width: 16px;
                    height: 16px;
                    padding: 4px;
                    cursor: pointer;
                    border-radius: 4px;
                    margin-right: 8px;
                    
                    &:hover,
                    &.active {
                        background-color: rgba(102, 152, 255, 0.1);
                        color: #6698ff;
                    }
                    svg {
                        fill: currentColor;
                    }
                }
            }
        }
    }
}
